.rodapie{
    height: 50vh;
    background: var(--fondoOscuro);
    text-align: center;
    position: relative;
    color: var(--texto-claro);
}
.rodapie-hijo{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}