*{
    text-decoration: none;   
}
html{
    scroll-margin-top: 11vh;
}
:root{
    --fuente-titulo: 'Bai Jamjuree', sans-serif;
    --fuente-parrafo: 'Abel', sans-serif;
    --colorOscuroBackground: #1C1C1C;
    --texto-claro: rgb(255, 255, 255);
    --fondoNaranja : rgb(255, 132, 0);
}

.descripcion{
    display: block;
    font-family: var(--fuente-descripcion);
    white-space: nowrap;
    border-right: 4px solid;
    width: 21ch;
    
    animation: typing 3s steps(21), blink 0.5s infinite step-end alternate;
    overflow: hidden;
    margin: 0 auto;
}
.img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@keyframes typing{
    from {width: 0;}
}
@keyframes blink{
    50%{border-color: transparent;}
}
.titulo{
    font-family: var(--fuente-titulo);
    font-weight: bold;
}
.parrafo{
    font-family: var(--fuente-parrafo);
}
section [id] {
    scroll-margin-top: 10px;
}