@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Overpass+Mono&display=swap');
:root{
    --fuente-titulo: Montserrat;
    --fuente-descripcion: 'Overpass Mono', monospace;
    --colorOscuroBackground: #1C1C1C;
    --color-texto-claro: rgb(217, 217, 217);
    --fondoNaranja : rgb(255, 132, 0);
}