@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Overpass+Mono&display=swap');
:root{
    --fuente-titulo: Montserrat;
    --fuente-descripcion: 'Overpass Mono', monospace;
}