@media screen and (max-width:400px) {
    #bash{
        margin-top: 3.2rem;
    }
    .photo{
        padding-top: 2vh;
    }
    .foto__perfil{
        padding: 10vh;
    }
    .titulo h1{
        font-size: 1rem;
        font-weight: bold;
    }
    .bash-row{
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        padding: 5px 0 0 0;
    }
    .bash-col{
        justify-content: center;
        background:rgba(70, 70, 70, 0.366);
        background-size: auto;
        margin: 8px auto;
        padding: 5px;
        font-size: 3.5vh;
        transition: 0.4s;
        font-weight: 15px;
        border-radius: 5px;
    }
    .bash-col:hover{
        background:rgba(255, 136, 1, 0.411);
        transform: translate(3px);
        transition: none;
    }

    /*BARRA DE SELECCION MAIN*/
}