.main {
    width: 100%;
    text-align: center;
    padding-top: 10vh;
}

.pagina__inicial {
    color: #ffffff;
    min-height: 90vh;
    
    position: relative;

}
.contenidomain{
    position: relative;
    z-index: 2;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0000002b , #1c1c1c);
}

.photo {
    display: flex;
    padding-top: 10px;
}

.foto__perfil {
    margin: 0 auto;
    background: no-repeat center;
    background-image: url("../../../recursos/img/LRM_20221014_211638\ \(1\).jpg");
    background-size: 100% auto;
    padding: 15vh;
    border-radius: 50%;
}
#bash {
    margin-top: 22vh;
}

.bash-col a {
    text-decoration: none;
    color: #ffffff;
}

@media screen and (min-width:400px) {

    .bash-col {
        text-align: center;
        transition: ease-out .5s;
        padding: .5rem;
    }

    .bash-col:hover {
        background: rgba(0, 255, 251, 0.205);
        color: var(--color-texto-claro);
        border-radius: 6px;
        cursor: pointer;
        position: static;
        transition: ease .5s;
    }
    .bash-col:active{
        background: rgba(255, 124, 1, 0.207);
        color: var(--color-texto-claro);
    }
    .bash-col a:visited{
        color: var(--color-texto-claro);
    }
}