.skills{
    background: linear-gradient(#1c1c1c, #ff8400);
    height: 100vh;
    display: flex;
    align-items: center;
}
.titulo-skills{
    color: var(--color-texto-claro);
}
.img-skil{
    height: 10vh;
}
.img-bola{
    float: right;
    height: 35vh;
    margin-right: 1rem;
}