.sobre-mi{
    display: flex;
    background: var(--colorOscuroBackground);
    color: var(--color-texto-claro);
    align-items: center;
    height: 120vh;
}
.articulo-sobremi{
    text-align: center;
    float: right;
    margin: 0 1rem;
}
.titulo-sobremi{
    margin: 2.3rem auto;
    color: var(--fondoNaranja);
}
.img-jujuy{
    float: left;
    height: 35vh;
    margin: 0 1rem;
}