.sobre-mi{
    display: flex;
    background: var(--fondoOscuro);
    color: var(--texto-claro);
    align-items: center;
    height: 100vh;
}
.articulo-sobremi{
    text-align: center;
    float: right;
    margin: 0 10vh;
    
}
.articulo-sobremi h1{
    color: var(--fondoNaranja);
}
.img-jujuy{
    float: left;
    height: 35vh;
    margin: 0 1rem;
}